<div class="auth">
    <h2>SignUp</h2>
    <form [formGroup]="groupSignup">
        <p class="userinfo">First Name</p>
        <input type="text" class="intext" formControlName="Firstname">
        <p class="userinfo">Last Name</p>
        <input type="text" class="intext" formControlName="Lastname">
        <p class="userinfo">E-mail</p>
        <input type="text" class="intext" formControlName="Email">
        <p class="userinfo">Password</p>
        <input type="text" class="intext" formControlName="Password">
        <p class="userinfo">Re-Password</p>
        <input type="text" class="intext">

         <div id="user-type">
        <input type="radio" class="inradio" value= "User"  formControlName="RoleName" checked>
        <p class="oppradio">User</p>
        <input type="radio" class="inradio" value="Admin" formControlName="RoleName" >
        <p class="oppradio">Admin</p></div>
    </form>
    <button (click)="signUp()" class="login-button">SignUp</button>
</div>