#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;

    input {
        height: 20px;
        width: 250px;
        border-radius: 30px;
    }
}

