<div class="page">
  <a [routerLink] = "'../detail-country'" >country {{inputValue}}</a>
<h2>Countries</h2>
<app-search (inputEvent)="receiveInput($event)" ></app-search>
<div class="list">  
        <mat-select class="region" [(value)]="selectedRegion">
          <mat-option value="" default>None</mat-option>
          <mat-option *ngFor="let region of getDistinctRegion()"
          class="list-region" value="{{region}}">{{region}}</mat-option>
        </mat-select>
      

    <ul class="list-group">
        <li 
            *ngFor="let countr of filterByRegion()"
            class="list-group-item">
            <img src="{{countr.flags.png}}">
            <p>{{ countr.name.common}}</p>
        </li>
      </ul>
</div>

</div>