<div class="page">
<h2>Countries</h2>
<app-search (inputEvent)="receiveInput($event)" ></app-search>


 <div class="list">  
        <mat-select class="region" [(value)]="selectedRegion">
          <mat-option value="" (click)="filterByRegion()" default>None</mat-option>
          <mat-option *ngFor="let region of unique"
          class="list-region" (click)="filterByRegion()" value="{{region}}">{{region}}</mat-option>
        </mat-select>
      
        <ul class="list-group" >
          <li 
              *ngFor="let countr of country$ | async"
              class="list-group-item">
              <a [routerLink]="['/content/detail-country', countr.name.common]">
              <img src="{{countr.flags.png}}">
              <p>{{ countr.name.common}}</p>
              </a>
          </li>
        </ul>

</div> 

</div>